@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body{
    margin: 0;
    font-family: "Press Start 2P", cursive;
    font-size: 2em;
    color: white;
}

button{
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

.prize-container{
    bottom: 0;
    left: 0;
    background-color: #000;
    color: white;
    position: absolute;
    font-size: 10px;
    padding: 5px;
}

#player-count{
    font-size: 7px;
}

#counter{
    position: absolute;
    top: 20px;
    right: 20px;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    color: white;
    pointer-events: none;
}

#timer{
    position: absolute;
    top: 20px;
    left: 55px;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    color: white;
    pointer-events: none;
}

#timerIcon{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 20px;
}

#end{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;

    h1{
        color: white;
        font-size: 2em;
        position: absolute;
        transform: translateY(-300%);
        pointer-events: none;
        text-shadow: 5px 10px #111;
    }

    p{
        position: absolute;
        transform: translateY(-200%);
    }
}

.retry{
    background-color: rgb(196, 43, 43);
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
    color:#420707;
    transform: scale(1) translateY(30%);
    transition: transform 300ms, filter 300ms;
    
    &:hover{
        transform: scale(1.15) translateY(30%);
        filter: brightness(1.3);
    }
}

.main-menu-button{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    transform: scale(1);
    transition: transform 300ms;
    cursor: pointer;

    &:hover{
        transform: scale(1.2);
    }
}

.pause-container{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;

    h1{
        color: white;
        font-size: 2em;
        position: absolute;
        transform: translateY(-300%);
        pointer-events: none;
        text-shadow: 5px 10px #111;
    }

    .music-toggle{
        .musicOn, .musicOff{
            width: 50px;
            transform: scale(1) translateX(-50%);
            transition: transform 300ms;
            cursor: pointer;
            position: absolute;
            top: 68%;
            left: 50%;
    
            &:hover{
                transform: scale(1.2) translateX(-50%);
            }
        }
    }

    .resume-button{
        background-color: rgb(43, 196, 81);
        padding: 20px 50px 20px 50px;
        font-family: inherit;
        font-size: inherit;
        color:#074219;
        margin: 40px;
        transform: scale(1) translateY(30%);
        transition: transform 300ms, filter 300ms;
        
        &:hover{
            transform: scale(1.15) translateY(30%);
            filter: brightness(1.3);
        }
    }
}

.main-menu-container{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: visible;

    button{
        background-color: rgb(43, 196, 81);
        padding: 20px 50px 20px 50px;
        font-family: inherit;
        font-size: inherit;
        color:#074219;
        transform: scale(1) translateY(30%);
        transition: transform 300ms, filter 300ms;
        
        &:hover{
            transform: scale(1.15) translateY(30%);
            filter: brightness(1.3);
        }
    }
}

.timer-end-container{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;

    h1{
        color: white;
        font-size: 2em;
        position: absolute;
        transform: translateY(-300%);
        pointer-events: none;
        text-shadow: 5px 10px #111;
    }

    p{
        position: absolute;
        transform: translateY(-250%);
    }
}

.c-rainbow {
    counter-reset: rainbow;
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateY(-200%);
}
.c-rainbow__layer {
    --text-color: #fff;
    counter-increment: rainbow;
    font-size: 3em;
    color: var(--text-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 0 rgba(0, 0, 0, .2);
    animation: rainbow 1.5s ease-in-out infinite;
}
@keyframes rainbow {
    0%, 100% {
        transform: translateY(1rem);
   }
    50% {
        transform: translateY(calc(1rem * -1));
   }
}
